/Vol.Vue/node_modules
/Vue3/node_modules
/vol.uniapp/uni_modules
/Vue.Net/VOL.Web/bin
/Vue.Net/VOL.WebApi/bin
/Vue.Net/VOL.WebApi/Download/ExcelExport
/Vue.Net/VOL.WebApi/Download/Logger
/Vue.Net/VOL.WebApi/Download/SqlLog
/Vue.Net/VOL.WebApi/obj
/Vue.Net/.vs
/Vue.Net/VOL.Entity/bin
/Vue.Net/VOL.Entity/obj
/Vue.Net/VOL.AppManager/bin
/Vue.Net/VOL.AppManager/obj
/Vue.Net/VOL.Builder/obj
/Vue.Net/VOL.Builder/bin
/Vue.Net/VOL.Core/obj
/Vue.Net/VOL.Core/bin
/Vue.Net/VOL.Order/obj
/Vue.Net/VOL.Order/bin
/Vue.Net/VOL.System/obj
/Vue.Net/VOL.System/bin
/Vue.Net/VOL.Web/obj
/Vue.Net/VOL.WebApi/Download/*
/Vol.Vue/dist
/Vue.Net/VOL.WebApi/wwwroot/Upload/
/Vue.Net/VOL.Web
/開發版dev/Vue.NetCore/Vol.Vue/node_modules
/開發版dev/Vue.NetCore/Vue.Net/VOL.System/bin
/開發版dev/Vue.NetCore/Vue.Net/VOL.WebApi/bin
/開發版dev/Vue.NetCore/Vue.Net/VOL.Entity/bin
/開發版dev/Vue.NetCore/Vue.Net/VOL.Builder/bin
/開發版dev/Vue.NetCore/Vue.Net/VOL.Core/obj
/開發版dev/Vue.NetCore/Vue.Net/VOL.Builder/obj
/開發版dev/Vue.NetCore/Vue.Net/VOL.Entity/obj
/開發版dev/Vue.NetCore/Vue.Net/VOL.System/obj
/開發版dev/Vue.NetCore/Vue.Net/VOL.WebApi/obj
/開發版dev/Vue.NetCore/Vue.Net/VOL.Core/bin
/_ReSharper.Caches/*
/.vs/*
/開發版dev/Vue.NetCore/Vue.Net/_ReSharper.Caches/*
/開發版dev/Vue.NetCore/Vue.Net/.vs/*
/Vue.Net/_ReSharper.Caches/ReSharperPlatformVs16192_607b9a31.VOL.00
/開發版dev/Vue.NetCore/Vue.Net/VOL.WebApi/Download/Logger/Queue/WriteError
/開發版dev/Vue.NetCore/Vue.Net/.vs
/.Net6/.vs
/.Net6/VOL.AppManager/obj
/.Net6/VOL.AppManager/bin
/.Net6/VOL.Builder/obj
/.Net6/VOL.Builder/bin
/.Net6/VOL.Core/obj
/.Net6/VOL.Core/bin
/.Net6/VOL.Entity/obj
/.Net6/VOL.Entity/bin
/.Net6/VOL.Order/obj
/.Net6/VOL.Order/bin
/.Net6/VOL.System/obj
/.Net6/VOL.System/bin
/.Net6/VOL.WebApi/obj
/.Net6/VOL.WebApi/bin
/.Net6/VOL.WebApi/Properties/PublishProfiles
/開發版dev/Net6開發版/VOL.WebApi/obj
/開發版dev/Net6開發版/VOL.WebApi/bin
/開發版dev/Net6開發版/VOL.System/obj
/開發版dev/Net6開發版/VOL.System/bin
/開發版dev/Net6開發版/VOL.Entity/obj
/開發版dev/Net6開發版/VOL.Entity/bin
/開發版dev/Net6開發版/VOL.Core/obj
/開發版dev/Net6開發版/VOL.Core/bin
/開發版dev/Net6開發版/VOL.Builder/obj
/開發版dev/Net6開發版/VOL.Builder/bin
/開發版dev/Net6開發版/.vs
/Vue.Net/VOL.WebApi/Properties
/.Net6/VOL.WebApi/Properties
